<section>
  <h2>{{ currentHero.id ? "Edit" : "Add" }} Hero</h2>

  <div class="container">
    <form class="form" [formGroup]="heroForm">
      <mat-card class="form__card">
        <div class="form__name">
          <mat-form-field>
            <mat-label>Super Hero</mat-label>
            <input matInput type="text" required formControlName="superhero" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Alter ego</mat-label>
            <input matInput type="text" required formControlName="alter_ego" />
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>First aparition</mat-label>
          <input
            matInput
            type="text"
            required
            formControlName="first_appearance"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Characters</mat-label>
          <input matInput type="text" required formControlName="characters" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Publisher</mat-label>
          <mat-select matNativeControl required formControlName="publisher">
            <mat-option
              *ngFor="let publisher of publuhers"
              [value]="publisher.id"
            >
              {{ publisher.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Alternative Image</mat-label>
          <input matInput type="text" required formControlName="alt_img" />
        </mat-form-field>
        <div class="form__btns">
          <button mat-flat-button color="primary" (click)="onSubmit()">
            <mat-icon>save</mat-icon> Guardar
          </button>
          <button mat-flat-button color="warn" (click)="onDeleteHero()">
            <mat-icon>delete</mat-icon> Borrar
          </button>
        </div>
      </mat-card>
    </form>

    <mat-card class="hero">
      <img
        matCardImage
        [src]="currentHero | heroImage"
        [alt]="currentHero.superhero"
        class="hero__img"
      />

      <mat-card-content class="hero__content">
        <mat-card-subtitle class="hero__subtitle"
          ><span class="hero__span">Hero: </span>{{ currentHero.superhero }}
        </mat-card-subtitle>
        <mat-card-subtitle class="hero__subtitle">
          <span class="hero__span">Real Name: </span>
          {{ currentHero.alter_ego }}
        </mat-card-subtitle>

        <mat-card-subtitle class="hero__subtitle"
          ><span class="hero__span">Publisher: </span>
          {{ currentHero.publisher }}
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</section>
