.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.message {
  padding: 0.3em;
  border-radius: 0.3em;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  background-color: rgb(18, 184, 18);
  font-size: 0.9rem;
  text-transform: uppercase;
}
.form {
  &__card {
    padding: 1em;
  }
  &__name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5em;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.hero {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 700px) {
    flex-direction: column;
    gap: 1.5em;
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    @media screen and (max-width: 700px) {
      row-gap: 1em;
    }
  }
  &__img {
    max-width: 18em;
    @media screen and (max-width: 700px) {
      max-width: 100%;
    }
  }
  &__span {
    font-weight: 600;
    color: #222;
  }
  &__subtitle {
    @media screen and (max-width: 900px) {
      font-size: 1.3rem;
    }
  }
}
