<div class="container">
  <form class="container__form form">
    <span class="form__title">Login</span>
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input type="text" matInput placeholder="usuario" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="contraseña" />
    </mat-form-field>

    <button type="submit" mat-button mat-flat-button color="primary">
      Entrar
    </button>
  </form>
  <div class="register">
    <a routerLink="/auth/new-account">¿No tienes cuenta?</a>
  </div>
</div>
